@{
    ViewData["Title"] = "Home Page";
}

@model BillingCode

<div class="text-center">
    <h1>Welcome to ICD10 Search</h1>
    <br />
    <br />
    <h2>Enter a diagnosis below:</h2>
    <br />
    <form asp-controller="Home" asp-action="SearchResult" method="post">
        <input type="text" name="textbox" />
        <br />
        <br />
        <input type="submit" />
    </form>
    <br />
</div>
